@import url(https://fonts.googleapis.com/css?family=Arimo);

body {
		background-color: #272b33;
		font-family: 'Arimo', sans-serif;
		font-size: 14px
		line-height: 1.5em;
		letter-spacing: .08em;
		color: #ffffff;
}

header {
		float: left;
		padding-top: 5%;
}

nav {
		font-size: 1em; 
		float: right;
		padding-top: 5%;
}

article {
		margin: auto;
		width: 50%;
		text-align: center;
}

div { 

}

#topbar {
	margin: 5%;
}

#follow{
		position: fixed;
		bottom: 5%;
		left: 5%;
		padding-bottom: 5%;
}

.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
}

footer{ 
		position: fixed;
		bottom: 5%;
		right: 5%;
		padding-bottom: 5%;
}

h1{
		color: #d8d2ff;
		font-size: 2em;
		line-height: 1.2em;
}

h3{
		color: #d8d2ff;
		font-size: .8em;
		font-weight: lighter;
}

ul{
		list-style: none;
}

a{
		color: #ffffff;
		font-size: .8em;
		text-decoration: none;
		padding: 5px;
}

#logo{
		width: 100%;
		
@media only screen and (max-width: 480px) {
	nav {
		float: none;
	}
	h1 {
		font-size: 1em;
	}
	article {
		width: 80%;
	}
}